<?xml version="1.0"?>
<model>
  <name>SSMI Unitree Go2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>SSMI Go2 integration</name>
    <email>yanaibo@example.com</email>
  </author>
  <description>Unitree Go2 with Fortress semantic and RGB-D cameras.</description>
</model>
