<?xml version="1.0"?>
<launch>
  <!-- Recorded local-voxel global admission cloud -> persistent SemanticOcTree
       in map_start -> RViz. No planner or controller is started. -->
  <arg name="bag"
       default="/home/yanaibo/mapless_navigation/local_3d_semantic_voxel/local3DSemanticVoxelMap/dataset/2026-08-14-09-19-37.bag"/>
  <arg name="bag_play_args" default="--clock --delay=2"/>
  <arg name="rviz" default="true"/>
  <arg name="input_topic" default="/local_3d_semantic_voxel_map/global_semantic_admission_grid"/>
  <arg name="semantic_topic" default="/semantic_pcl/global_admitted"/>
  <arg name="map_frame" default="map_start"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find semantic_octomap)/launch/semantic_octomap_grid.launch">
    <arg name="input_topic" value="$(arg input_topic)"/>
    <arg name="output_topic" value="$(arg semantic_topic)"/>
    <arg name="world_frame_id" value="$(arg map_frame)"/>
    <arg name="use_initial_pose_reference" value="false"/>
    <arg name="reference_frame_id" value="$(arg map_frame)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="rviz_frame" value="$(arg map_frame)"/>
  </include>

  <!-- Delay gives the adapter, TF filter, OctoMap node and RViz time to start. -->
  <node pkg="rosbag" type="play" name="semantic_octomap_grid_bag"
        args="$(arg bag_play_args) $(arg bag)" output="screen"/>
</launch>
