<?xml version="1.0"?>
<launch>
  <arg name="input_topic" default="/local_3d_semantic_voxel_map/global_semantic_admission_grid"/>
  <arg name="output_topic" default="/semantic_pcl/global_admitted"/>
  <arg name="world_frame_id" default="map_start"/>
  <arg name="use_initial_pose_reference" default="false"/>
  <arg name="reference_frame_id" default="map_start"/>
  <arg name="rviz" default="false"/>
  <arg name="rviz_frame" default="$(arg world_frame_id)"/>

  <rosparam file="$(find semantic_octomap)/params/semantic_octomap_grid.yaml"
            command="load"/>

  <node pkg="semantic_octomap" type="grid_semantic_adapter_node"
        name="grid_semantic_adapter" output="screen">
    <param name="input_topic" value="$(arg input_topic)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
  </node>

  <param name="/octomap/pointcloud_topic" value="$(arg output_topic)"/>
  <param name="/octomap/world_frame_id" value="$(arg world_frame_id)"/>
  <param name="/octomap/use_initial_pose_reference"
         value="$(arg use_initial_pose_reference)"/>
  <param name="/octomap/reference_frame_id" value="$(arg reference_frame_id)"/>
  <node pkg="semantic_octomap" type="semantic_octomap_node"
        name="semantic_octomap" output="screen"/>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="semantic_octomap_rviz"
        args="-d $(find semantic_octomap)/rviz/semantic_octomap_grid.rviz -f $(arg rviz_frame)"/>
</launch>
