<?xml version="1.0"?>
<launch>
  <arg name="input_topic" default="/grids_points"/>
  <arg name="output_topic" default="/semantic_pcl/semantic_pcl"/>
  <arg name="world_frame_id" default="world"/>
  <arg name="obstacle_threshold" default="0.6"/>

  <rosparam file="$(find semantic_octomap)/params/semantic_octomap_grid.yaml"
            command="load"/>

  <node pkg="semantic_octomap" type="grid_semantic_adapter_node"
        name="grid_semantic_adapter" output="screen">
    <param name="input_topic" value="$(arg input_topic)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
    <param name="obstacle_threshold" value="$(arg obstacle_threshold)"/>
  </node>

  <param name="/octomap/pointcloud_topic" value="$(arg output_topic)"/>
  <param name="/octomap/world_frame_id" value="$(arg world_frame_id)"/>
  <node pkg="semantic_octomap" type="semantic_octomap_node"
        name="semantic_octomap" output="screen"/>
</launch>
