<?xml version="1.0"?>

<robot name="go2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="DEBUG" default="false"/>
    <xacro:arg name="xyz" default="0.12 0.0 0.175" />
    <xacro:arg name="rpy" default="0 0 0" />
    <xacro:arg name="use_camera" default="true"/>
    <xacro:arg name="use_lidar" default="false"/>
    <!-- Positive pitch rotates the camera optical axis from +X toward -Z. -->
    <xacro:arg name="camera_pitch" default="0.20944"/>

    <xacro:include filename="$(find go2_description)/xacro/const.xacro"/>
    <xacro:include filename="$(find go2_description)/xacro/materials.xacro"/>
    <xacro:include filename="$(find go2_description)/xacro/leg.xacro"/>
    <!-- <xacro:include filename="$(find go2_description)/xacro/stairs.xacro"/> -->
    <xacro:include filename="$(find go2_description)/xacro/gazebo.xacro"/>
    <!-- <xacro:include filename="$(find go2_gazebo)/launch/stairs.urdf.xacro"/> -->
    <xacro:if value="$(arg use_lidar)">
        <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
    </xacro:if>

    <!-- <xacro:stairs stairs="15" xpos="0" ypos="0" zpos="0" /> -->

    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
    <xacro:if value="$(arg DEBUG)">
        <link name="world"/>
        <joint name="base_static_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="world"/>
            <child link="base"/>
        </joint>
    </xacro:if> 

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <joint name="floating_base" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base"/>
        <child link="trunk"/>
    </joint>

    <link name="trunk">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://go2_description/meshes/trunk.dae" scale="1 1 1"/>
            </geometry>
            <!-- <material name="orange"/> -->
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                izz="${trunk_izz}"/>  
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="trunk"/>
        <child link="imu_link"/>
        <origin xyz="0.12 0 0.125" rpy="0 0 0"/>
    </joint>

    <!-- IMU -->
    <link name="imu_link">
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.05 0.05 0.05"/>
        </geometry>
        </collision>
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.05 0.05 0.05"/>
        </geometry>
        <material name="green">
            <color rgba="0 1 0 1"/>
        </material>
        </visual>
        <inertial>
        <mass value="1e-2" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <xacro:if value="$(arg use_camera)">
        <!--
          RGB-D camera based on the referenced Ignition model:
          640x480, 90 degree horizontal FOV, 10 Hz, 0.1-100 m range.
          Go2 uses X-forward/Y-left/Z-up.  The camera is mounted at the front
          of the trunk and pitched 12 degrees down to include nearby terrain.
        -->
        <joint name="rgbd_camera_joint" type="fixed">
            <parent link="trunk"/>
            <child link="rgbd_camera_link"/>
            <origin rpy="0 $(arg camera_pitch) 0" xyz="0.30 0 0.09"/>
        </joint>

        <link name="rgbd_camera_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry><box size="0.055 0.090 0.040"/></geometry>
                <material name="camera_dark">
                    <color rgba="0.08 0.08 0.08 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry><box size="0.055 0.090 0.040"/></geometry>
            </collision>
            <inertial>
                <mass value="0.08"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.0000647" ixy="0" ixz="0"
                         iyy="0.0000377" iyz="0" izz="0.0000743"/>
            </inertial>
        </link>

        <!-- REP-103 optical coordinates: Z forward, X right, Y down. -->
        <joint name="rgbd_camera_optical_joint" type="fixed">
            <parent link="rgbd_camera_link"/>
            <child link="rgbd_camera_optical_frame"/>
            <origin xyz="0.028 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
        </joint>
        <link name="rgbd_camera_optical_frame"/>

        <gazebo reference="rgbd_camera_link">
            <material>Gazebo/DarkGrey</material>
            <sensor name="rgbd_camera" type="depth">
                <always_on>true</always_on>
                <update_rate>10</update_rate>
                <!-- Avoid Gazebo 11 GUI re-creating the world's saved sun light. -->
                <visualize>false</visualize>
                <camera>
                    <horizontal_fov>1.570796327</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100.0</far>
                    </clip>
                </camera>
                <plugin name="rgbd_camera_controller" filename="libgazebo_ros_openni_kinect.so">
                    <cameraName>rgbd_camera</cameraName>
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10.0</updateRate>
                    <imageTopicName>image</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <depthImageTopicName>depth_image</depthImageTopicName>
                    <depthImageCameraInfoTopicName>depth_camera_info</depthImageCameraInfoTopicName>
                    <pointCloudTopicName>points</pointCloudTopicName>
                    <frameName>rgbd_camera_optical_frame</frameName>
                    <pointCloudCutoff>0.1</pointCloudCutoff>
                    <pointCloudCutoffMax>100.0</pointCloudCutoffMax>
                    <baseline>0.0</baseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:if>

    <!--
    <joint name="load_joint" type="fixed">
        <parent link="trunk"/>
        <child link="load_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="load_link">
        <inertial>
            <mass value="5"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.2"/>
            <geometry>
                <box size="0.5 0.3 0.2"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".001 .001 .001"/>
            </geometry>
        </collision>
    </link>
-->
<!-- 
 <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="trunk" name="velodyne" topic="/velodyne_points" hz="20" samples="350" min_range="0.5" organize_cloud="true" >
      <origin xyz="0.12 0.0 0.175" rpy="0 0 0" />
  </xacro:VLP-16>    -->

    <xacro:if value="$(arg use_lidar)">
      <!-- LiDAR mounting mast: visual-only pole connecting the trunk to the Velodyne -->
      <joint name="lidar_mount_joint" type="fixed">
          <parent link="trunk"/>
          <child link="lidar_mount"/>
          <origin xyz="0.12 0 0.088" rpy="0 0 0"/>
      </joint>

    <link name="lidar_mount">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.015" length="0.176"/>
            </geometry>
            <material name="dark_gray">
                <color rgba="0.2 0.2 0.2 1.0"/>
            </material>
        </visual>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.01"/>
            <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
        </inertial>
    </link>

    <gazebo reference="lidar_mount">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

      <xacro:HDL-32E parent="trunk" name="velodyne" topic="/velodyne_points" hz="10" min_range="0.3">
          <origin xyz="0.12 0.0 0.175" rpy="0 0 0" />
      </xacro:HDL-32E>
    </xacro:if>

    <!-- Livox-Mid360  -->
  <!-- <xacro:include filename="$(find velodyne_description)/urdf/mid360.urdf.xacro" />
  <xacro:mid360 name="livox_frame" parent="trunk" topic="/livox/lidar">
    <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
  </xacro:mid360> -->

    <xacro:leg name="FR" mirror="-1" mirror_dae= "False" front_hind="1"  front_hind_dae="True"  />
    <xacro:leg name="FL" mirror="1"  mirror_dae="True"   front_hind="1"  front_hind_dae="True"  />
    <xacro:leg name="RR" mirror="-1" mirror_dae="False"  front_hind="-1" front_hind_dae="False" />
    <xacro:leg name="RL" mirror="1"  mirror_dae="True"   front_hind="-1" front_hind_dae="False" />
</robot>
